<%= render 'public/searches/search' %>
<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>会員情報</h2>
      <%= render 'public/customers/info', customer: @post.customer %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>投稿詳細</h2>
      <table class='table'>
        <tr>
          <td><%= link_to(@post.customer) do %>
            <%= image_tag @post.customer.get_profile_image, size:"100x100" %><br>
            <%= @post.customer.name %>
            <% end %>
          </td>
          <td><%= link_to @post.team_name, @post %></td>
          <td><%= @post.personnom %>人</td>
          <td><%= @post.base %></td>
            <% if @post.customer == current_customer %>
              <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
            <% end %>
          <td>
            <% if @post.favorited_by?(current_customer) %>
              <%= link_to post_favorites_path(@post.id), method: :delete do %>
                ♥<%= @post.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(@post.id), method: :post do %>
                ♡<%= @post.favorites.count %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
      <div>
        <table class='table'>
          <% @post.post_comments.each do |post_comment| %>
            <tr>
              <td><%= post_comment.customer.name %></td>
              <td><%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %></td>
              <td>
                <% if post_comment.customer == current_customer %>
                  <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div>
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "チーム詳細をここに記載", class: "w-100 comment-textarea" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>