<div class="container">
  <h2 class="mb-5">ログイン</h2>
  <h3>会員の方はこちらから</h3>
  <%= form_with model: @customer, url: customer_session_path do |f| %>
    <table class="table table-borderless align-middle">
      <tbody>
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td colspan="2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "yuito@example.com", class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :password, "パスワード" %></td>
          <td>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <h3>会員登録がお済みでない方</h3>
  <%= render "public/shared/links" %>
</div>
